{% extends "basic.html" %} {% block title %} 番号 {% endblock title %} {% block content %}
<div class="row">
	<div class="col-md-4">
		<div role="complementary">
			<ul class="nav nav-stacked nav-pills">
				<li><input type="search" class="form-control" 
					id="" placeholder="女优名字或者番号"></li>
			</ul>
		</div>
	</div>
	<div class="col-md-8">
		<div class="row">
			<div class="panel-group" id="av_list">
			    {% for av in pagination.items %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title ellipsis">
							<span class="label label-success">{{av.code}}</span> 
							<a data-toggle="collapse" data-parent="#av_list" href="#collapse_{{av.code}}">
							     {{av.title}}
						    </a>
						</div>
					</div>
					<div id="collapse_{{av.code}}"
					   class="panel-collapse collapse {% if loop.first %}in{% endif %}" >
						<div class="panel-body">
							<div class="row">
								<div class="col-md-2">
									<span class="label label-default">番号：</span>
								</div>
								<div class="col-md-3">{{av.code}}</div>
								<div class="col-md-2">
									<span class="label label-default">教材：</span></div>
								<div class="col-md-3">{{av.title}}</div>
							</div>
							<div class="h8"></div>
							<div class="row">
								<div class="col-md-2">
									<span class="label label-default">发行商：</span>
								</div>
								<div class="col-md-3">{{av.publisher}}</div>
								<div class="col-md-2">
									<span class="label label-default">发行日期：</span>
								</div>
								<div class="col-md-3">{{av.published_on}}</div>
							</div>
							<div class="h8"></div>
							<div class="row">
								<div class="col-md-2">
									<span class="label label-default">片长：</span>
								</div>
								<div class="col-md-3">{{av.length}}分钟</div>
								<div class="col-md-2">
									<span class="label label-default">演员：</span>
								</div>
								<div class="col-md-3">{{av.actor}}</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		{% from '/marco/pagination.html' import pagebar with context %}
		{{ pagebar(pagination, 'avs.get_av_list') }}
	</div>
</div>
{% endblock %}

