{% extends "basic.html" %} 
{% block title %} 番号 - {{av.code}} - {{av.title}} {% endblock %} 

{% block script_import %}
<script type="text/javascript" src="/static/js/modules/a.js"></script>
{% endblock script_import%}

{% block kw %}番号,{{av.code}},{{av.code}}.torrent,{{av.title}},BT,{% for actor in av.actors %}{{actor.name}}{% if not loop.last %},{% endif %}{% endfor%}{% endblock%} 

{% block desc %}番号-[{{av.code}}]，标题-[{{av.title}}] ：由[{{av.publisher}}]在{{av.published_on}}发行，{% for actor in av.actors %}{{actor.name}}{% if not loop.last %},{% endif %} {% endfor%}等演员参与演出, 片长{{av.length}}分钟, 分类为：{% for tag in av.tags %}{{tag.name}}{% if not loop.last %},{% endif %} {% endfor%}.本站还提磁力链, :)
{% endblock%} 

{% block content %}
<!-- breadcrumb -->
<ol class="breadcrumb">
	<li><a href="/">首页</a></li>
	<li><a href="/a/">番号</a></li>
	<li class="active">{{av.code}}</li>
</ol>

<!-- header -->
<div class="page-header">
	<p class="lead ellipsis">
		<span class="label label-primary">{{av.code}}</span> <span><strong>{{av.title}}</strong></span>
	</p>
</div>

<!-- content -->
<div class="row">
	<div class="col-md-4">
		<div class="thumbnail text-center" style="height:180px;">
			因为一些长城原因，暂不提供封面</div>
	</div>
	<div class="col-md-8">
		<div class="row mb6">
			<div class="col-md-2 text-right">
				<span class="">番 号：</span>
			</div>
			<div class="col-md-10">
				<a href='/a/{{av.code}}'>{{av.code}} <span class="glyphicon glyphicon-open"></span></a>
			</div>
		</div>
		<div class="row mb6">
			<div class="col-md-2 text-right">
				<span class="">教 材：</span>
			</div>
			<div class="col-md-10">{{av.title}}</div>
		</div>
		<div class="row mb6">
			<div class="col-md-2 text-right">
				<span class="">发行商：</span>
			</div>
			<div class="col-md-10">{{av.publisher}}</div>
		</div>
		<div class="row mb6">
			<div class="col-md-2 text-right">
				<span class="">发行日期：</span>
			</div>
			<div class="col-md-10">{{av.published_on}}</div>
		</div>
		<div class="row mb6">
			<div class="col-md-2 text-right">
				<span class="">片 长：</span>
			</div>
			<div class="col-md-10">{{av.length}}分钟</div>
		</div>
		<div class="row mb6">
			<div class="col-md-2 text-right">
				<span class="">演 员：</span>
			</div>
			<div class="col-md-10">
				{% for actor in av.actors %} 
					<a>{{actor.name}} <span class="glyphicon glyphicon-open"></a>{% if not loop.last %},{% endif %} 
				{% endfor%}
			</div>
		</div>
		<div class="row mb6">
			<div class="col-md-2 text-right">
				<span class="">分类：</span>
			</div>
			<div class="col-md-10">
				{% for tag in av.tags %} 
					<a href="/a/?tags={{tag.id}}">
					   {{tag.name}}<span class="glyphicon glyphicon-open"></a>{% if not loop.last %},{% endif %} 
				{% endfor%}
			</div>
		</div>
	</div>
</div>
<hr>
<!-- plugins -->
<div class="mt20">
	<ul class="nav nav-tabs" id="tab_plugins">
		<li class="active"><a href="#magnet" data-toggle="tab">磁力链</a></li>
		<li><a href="#reply" data-toggle="tab">评论</a></li>
	</ul>

	<div class="tab-content tab-bordered-content">
		<div class="tab-pane active" id="magnet">
		    <!--  -->
		    <div class="alert alert-warning">
		    	<ol>
		    		<li>
		    			小机器人刚上线，所以部分资源可能搜索不到，你可以多尝试一些番号。比如: 
		      			<a href="/a/IPTD-999">IPTD-999(这部好看)</a>，<a href="/a/DV-1484">DV-1484</a> 
		  			</li>
		  			<li>想自动下载需要先打开迅雷或者旋风等BT软件</li>
		  			<li>也可以拷贝磁力链接，复制到BT软件中进行下载</li>
		  		</ol>
			</div> 
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>文件名 (<span class="text-success">点击会打开bT软件</span>)</th>
							<th>磁力链</th>
							<th>大小</th>
							<th>日期</th>
							<th>做种/下载/已完成(人数)</th>
						</tr>
					</thead>
					<tbody id="magnet-content">
						<tr>
							<td colspan="6">
								<div class="text-center" style="height:200px;margin-top:90px;">
								    <img alt="" src="/static/img/loading.gif">
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="tab-pane" id="reply">
			<div class="row mt20">
				<div class="col-md-8 col-md-offset-2">
					<div class="alert alert-warning text-center">
						<strong>忙撸，打完这发回来添加这功能。:)</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block raw_script %}
    A.loadMagnet('{{av.code}}');
{% endblock %}
