{% if magnets %}
{% for magnet in magnets %}
<tr>
    <td>{{loop.index}}</td>
    <td><a href="{{magnet.magnet}}">{{magnet.name}}</a></td>
    <td>
    	<button type="button" class="btn btn-link"
    		onclick="A.copy('{{magnet.magnet}}')">拷贝</button></td>
    <td>{{magnet.size}}</td>
    <td>{{magnet.date}}</td>
    <td>{{magnet.seeders}}/{{magnet.leechers}}/{{magnet.completed}}</td>
</tr>
{% endfor %}
{% else %}
<tr>
    <td colspan="6"><div class="text-center">未搜索到数据</div></td>
</tr>
{% endif %}