{% extends "basic.html" %}

{% block content %}

<div class="page-header">
  <h2>本站说明 <small>-- 保持关注，会有惊喜</small></h2>
</div>
<div>
<ol>
  <li class="mb6">
  	<div>
  		网站目前还在开发中，所以没有使用全部的数据，只用了<code><strong>2W</strong></code>部左右的作品，所以有些作品，演员会搜索不出来。等网站全部完成后，会更新大约<code><strong>6W</strong></code>部左右的作品。
  	</div>
  </li>  
  <li class="mb6">
  	<div>
  		本站会实时同步日本发行商的发布数据。就是说每当有新片发布，本站可以第一时间获取到数据。
  	</div>
  </li>
  <li class="mb6">
  	<div>
  		本站稍后会添加邮件订阅，如果本站域名被屏蔽的话，会通过订阅邮件告知新的域名。
  	</div>
  </li>
  <li class="mb6">
    <div>
                    本站所有数据均来自互联网，勿查我水表。:(
    </div>
  </li>
  <li class="mb6">
  	<div>
  		樯橹灰飞烟灭，大家怡情娱乐. :)
  	</div>
  </li>
</ol>

</div>

{% endblock %}
